/*RESEAU*/

.reseau {
	background-color: #211E2B;
}

/*HEADER*/

.header {
	font-size: 0.7m;
	font-family: 'Poppins', sans-serif;
}

#logo {
	align-items: center;
	width: 100px;
	height: 100px;
	position: relative;
}

.search button img {
	align-items: center;
	width: 20px;
	height: 20px;
}

/*BANNIERE*/

.banniere {
	background-image: url(asset/banniere/ban.jpg);
	background-size: cover;
}


/*ENTRAINEMENT*/

.train {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.prog {
	padding-top: 100px;
}

.prog h2 {
	font-family: 'Anton', sans-serif;
	font-size: 4em;
	text-align: center;
}

.prog p, .prog ul {
	padding-left: 50px;
	padding-right: 50px;
}

#p1 {
	font-weight: bold;
}

/*COMPLEMENT ALIMENTAIRE*/

.articlecomplement h2, .macro h2 {
	font-family: 'Anton', sans-serif;
	font-size: 4em;
	text-align: center;
}

.supplement {
	padding-top: 50px;
	padding-bottom: 50px;
}

.supplement h3 {
	font-family: 'Anton', sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 2em;
}

/*ENTRAINEMENT HOVER*/

.post:hover .imghov {
	width: 100%;
}

.post img {
	display: block;
}

.imghov {
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	position: absolute;
	background: #5a5d8a7d;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.2s;
}

.imghov h2 {
	color: white;
	font-family: 'Anton', sans-serif;
}

/*MAGASIN*/

.mag, .map {
	padding-top: 50px;
}

.map {
	padding-bottom: 50px;
	align-content: center;
	text-align: center;
}

#typeshop {
	font-style: italic;
}

/*TITRE DES PAGES*/

#namemusc {
	padding-bottom: 50px;
}

.titlepage {
	line-height: 200px;
	background: #211E2B;
	color: aliceblue;
	position: relative;
	align-content: center;
	font-family: 'Anton', sans-serif;
	font-size: 4em;
	text-align: center;
}

.footer {
	background-color: #211E2B;
}

/* FOOTER */

.footer {
	background: #211E2B;
}

.footer a {
	color: #ffffff;
	text-decoration: none !important;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

.footer ul.quick-links li {
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

.footer ul.quick-links li:hover {
	padding: 3px 0;
	margin-left: 5px;
	font-weight: 700;
}

.footer ul.quick-links li a i {
	margin-right: 5px;
}

.footer ul.quick-links li:hover a i {
	font-weight: 700;
}

#titlefooter {
	padding-top: 50px;
	color: white;
}